@import url('https://fonts.googleapis.com/css?family=Staatliches');

html {
	font-family: 'Staatliches', cursive;
	text-align: center;
	margin-top: 5em;
}

h1 {font-size: 7em;}

input {
	
	font-size: 2em;
	
}

legend {text-align: center;}

fieldset {text-align: center;}